
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Exo', sans-serif;
}
.foto{
    background-image: linear-gradient(rgba(243, 243, 243, 0.479), rgba(0, 0, 0, 0.5)), url("/imagenes/mujer.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    height: 100vh ;
}


/* menu */
header{
    width: 100%;
    background-color: #28cacb;
    height: 40px;
    opacity: 1;
}
header #menu ul {

    list-style:none;
    margin:0;
    padding:0;
    float: left;
   }
   /* items del menu */
   
   header #menu ul li {
    background-color:#28cacb ;
   }
   /* enlaces del menu */
   
   #menu ul a {
    display:block;
    color:#fff;
    text-decoration:none;
    font-weight:400;
    font-size:15px;
    padding:10px;
    text-transform:uppercase;
    letter-spacing:2px;
   }

     /* items del menu */
   
     #menu ul li {
        position:relative;
        float: inline-end;
        margin:0;
        padding:0;
       }
          /* efecto al pasar el ratón por los items del menu */
   
   #menu ul li:hover {
    background:#0f6c79;
    
   }

    /* menu desplegable */

#menu ul ul {
    display:none;
    position:absolute;
    top:100%;
    left:0;
    background:#eee;
    padding:0;
    border-radius: 20px;
   }
    /* items del menu desplegable */
   
    #menu ul ul li {
        float:none;
        width:100px;
        border: dashed 1px #0f6c79;
       }

        /* enlaces de los items del menu desplegable */
   
   #menu ul ul a {
    line-height:100%;
    padding:10px 15px;
   }

    /* items del menu desplegable al pasar el ratón */
   
    #menu ul li:hover > ul {
        display:block;
       }
      
/*miniFotos*/
.miniFotos{
    text-align: center;
    justify-items: 20px;
}
.miniFotos img{
    margin-top: 20px;
    max-width: 100px;
    margin: 10px 10px 0px 10px;
}